<div class="row title">
  <div class="col s8 offset-s2">

    <form id="login" onsubmit="event.preventDefault()" class="center-align">
      <input id="username" name="username" type="text" placeholder="Enter username">
      <p id="username-validation" class="validation-text helper-text hidden"></p>

      <input id="password" name="password" type="password" placeholder="Enter password">
      <p id="password-validation" class="validation-text helper-text hidden"></p>

      <button id="login-button" type="submit" class="btn waves-effect to-robots">Login</button>
      <button id="create-account" type="submit" class="btn waves-effect to-robots">Create Account</button>
    </form>

  </div>

</div>

<script src="/assets/scripts/login.js"></script>